<div class="container">
  <div class="row">
    <img src="image.png"  width="200" height="280" alt="">
  </div>
  <div class="row">
    <div class="form-product-search">
      <form *ngIf="form" [formGroup]="form">
        <div class="form-group">
          <label class="mb-2">
            <span><span class="require-input-red">* </span>What thing you interest</span>
          </label>
          <select class="" formControlName="category" class="form-select" id="category-input"
            [class.invalid]="checkFormInValid(form, 'category')">
            <option *ngFor="let item of listCategory" [value]="item">
              {{item}}
            </option>
          </select>
        </div>
        <div class="form-group mt-4">
          <label class="mb-2">
            <span><span class="require-input-red">* </span>Enter your budget</span>
          </label>
          <input type="number" formControlName="maxPrice" placeholder="Enter your budget" autocomplete="off" class="form-control"
              id="maxPrice" [class.invalid]="checkFormInValid(form, 'maxPrice')" onwheel="this.blur()" />
        </div>
        <div class="form-group mt-4">
          <label class="mb-2">
            <span><span class="require-input-red">* </span>Enter your feeling</span>
          </label>
          <textarea formControlName="query" placeholder="Enter your feeling" id="query-input"  [class.invalid]="checkFormInValid(form, 'query')"
          class="form-control"></textarea>
        </div>
        <div class="form-group mt-4 mr-4 d-flex justify-content-end" style="margin-right: 32px;">
          <button type="submit" class="btn btn-primary" (click)="searchProduct()">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row product">
    <div class="product-list">
      <div *ngFor="let product of products; index as i; trackBy: identify" class="card mb-3" style="max-width: 540px;" >
        <div class="row g-0">
          <div class="col-md-2">
            <img class="market" height="230" [src]="product.image" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h5 class="card-price">{{product.price}} บาท</h5>
              <small class="text-muted"><img style="margin-right: 4px;" width="12" height="12" src="https://img.icons8.com/color/48/price-tag--v1.png" alt="price-tag--v1" />{{product.category}}</small>
              <!-- <p class="card-text d-flex justify-content-start align-items-baseline category">{{product.category}}</p> -->
              <p class="card-text detail-product" [innerHTML]="replaceNewLine(product.detail)"></p>
              <div class="card-text d-flex justify-content-between align-items-baseline">
                <p class="card-text d-flex justify-content-start align-items-baseline"><small class="text-muted"><img style="margin-right: 4px;" width="24" height="24" src="https://img.icons8.com/color/96/stall.png" alt="stall"/>{{product.merchant}}</small></p>
                <p class="card-text d-flex justify-content-end align-items-baseline"><span class="available">Available: </span>&nbsp;&nbsp;{{product.amount}}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="overlay" *ngIf="overlayVisible">
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="sr-only"></span>
    </div>
  </div>
</div>
